@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

html{
        font-size: 6px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    background-color: #fff;
}

body.inverted-colors {
    color: #fff;
    background-color: #000;
}

.bg-gray {
    background-color: #f7f7f7;
    color: #000;
}

.inverted-colors .bg-gray {
    background-color: #0a0a0a;
    color: #fff;
}

#topline {
    position: fixed;
    z-index: 110;
    width: 100%;
    height: 4px;
    top: 0;
    left: 0;
    background-color: #000;
}

.inverted-colors #topline {
    background-color: #fff;
}

.wrapper {
    width: 100%;
    padding: 0;
    max-width: 500px;
    margin: 0 auto;
}

.options-block label {
    width: 100%;
    display: block;
    font-size: 4rem;
    font-weight: 300;
    text-align: center;
}

.options-block label .unit {
    font-size: 3rem;
    color: #565656
}

.options-block input {
    width: 100%;
    text-align: center;
    font-size: 18rem;
    padding: 1vh 0;
    margin: 1vh 0 4vh 0;
    border: none;
}

.options-block input:focus{
    outline: none;
}

.spacer {
    height: 2vh;
    visibility: hidden;
}

#color-invert {
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 32px;
    width: 32px;
    padding: 4px;
    cursor: pointer;
}

#color-invert i {
    display: block;
    font-size: 32px;
    text-align: center;
}

.information-block {
    padding: 0px 10px 10px 10px;
}

.information-block h2 {
    margin-top: 0px;
    font-size: 3rem;
    text-align: center;
}

.information-block .step {
    font-size: 2.5rem;
    padding: 1.5vh 13%;
    margin-bottom: 1vh;
    border-radius: 2px;
}
.information-block .step i {
    float: left;
    margin-right: 10px;
}
