@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

html{
        font-size: 6px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    background-color: #fff;
}

body.inverted-colors {
    color: #fff;
    background-color: #000;
}

.bg-gray {
    background-color: #f7f7f7;
    color: #000;
}

.inverted-colors .bg-gray {
    background-color: #0a0a0a;
    color: #fff;
}

#topline {
    position: fixed;
    z-index: 110;
    width: 100%;
    height: 4px;
    top: 0;
    left: 0;
    background-color: #000;
}

.inverted-colors #topline {
    background-color: #fff;
}

.wrapper {
    width: 100%;
    padding: 0;
    max-width: 500px;
    margin: 0 auto;
}

.options-block label {
    width: 100%;
    display: block;
    font-size: 4rem;
    font-weight: 300;
    text-align: center;
}

.options-block label .unit {
    font-size: 3rem;
    color: #565656
}

.inverted-colors .options-block label .unit {
  color: #afafaf
}

.options-block input {
    width: 100%;
    text-align: center;
    font-size: 16rem;
    padding: 1vh 0;
    margin: 1vh 0 2vh 0;
    border: none;
}

.options-block input:focus{
    outline: none;
}

.spacer {
    height: 2vh;
    visibility: hidden;
}

#color-invert {
    position: fixed;
    bottom: 4px;
    right: 4px;
    height: 32px;
    width: 32px;
    padding: 4px;
    cursor: pointer;
}

#color-invert i {
    display: block;
    font-size: 32px;
    text-align: center;
}

.information-block {
    padding: 0px 10px 10px 10px;
}

.information-block h2 {
    margin-top: 0px;
    font-size: 3rem;
    text-align: center;
}

.information-block .step {
  position: relative;
  font-size: 2.5rem;
  padding: 1.5vh 1%;
  margin-bottom: 1vh;
  border-radius: 2px;
}
.information-block .step i {
    float: left;
    margin-right: 10px;
}

.information-block .step .btn {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  width: 20%;
  line-height: 6vh;
  font-size: 2.5rem;
  vertical-align: middle;
}

.btn {
  cursor: pointer;
}

.btn.to-do,
.btn.countdown {
  color: #fff;
  background-color: #171717;
}

.inverted-colors .btn.to-do,
.inverted-colors .btn.countdown {
  color: #000;
  background-color: #a7a7a7;
}

.btn.done {
  color: #000;
  background-color: #cecece;
}

.inverted-colors .btn.done {
  color: #fff;
  background-color: #171717;
}
